

@media screen and (max-width: 600px) {
  .historia-imagem img {
    max-height: 35vh; 
  }

  #diferenciais-section{
    height: 180vh !important;
  }
}

@media screen and (max-width: 768px) {
  .nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    justify-content: space-around;
    top: 11vh;
    left: 0;
    width: 100%;
    height: 100vh;
    padding-bottom: 100px;
    z-index: 2;
    background: #fff;
    transition: opacity 0.3s ease;
    opacity: 0;
  }

  .nav-list a {
    font-size: 1.5rem;
  }

  .nav-list.show-nav {
    display: flex;
    opacity: 1;
  }

  .menu-toggle {
    display: flex;
  }

  .logo img {
    height: 3rem;
  }

  .inicio-texto h1 {
    margin-left: 50px;
  }

  .inicio-texto p {
    margin-left: 50px;
  }

  #inicio-section {
    overflow: hidden;
  }

  #centro-distribuicao img {
    height: 30vh;
  }

  #diferenciais-section{
    height: 160vh;
  }

  .diferencial-titulo h2{
    margin-top: 30px;
  }
}



@media screen and (max-width: 900px) {
  .sobre-texto {
    max-width: 800px;
    text-align: left;
    margin: 0px 20px 0px 20px;
  }

  .historia-texto {
    margin: 0px 20px 0px 20px;
  }
}

@media screen and (max-width: 1075px) {
  .logo img {
    height: 3rem;
  }

  .img-inicio {
    height: 130vh;
    margin-top: 300px;
    margin-right: 0px;
  }

  #historia-section {
    background-color: #e3e3e1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 160vh;
  }

  .historia-imagem {
    text-align: center;
    margin-bottom: 20px;
  }

  .historia-imagem img {
    border: 2px solid #00c3ff;
    border-radius: 8px;
    margin-bottom: 10px;
  }

  .historia-imagem figcaption {
    font-size: 14px;
    color: #555;
  }

  .historia-texto {
    max-width: 800px;
    text-align: justify;
    margin-top: 100px;
  }

  .historia-texto h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #00c3ff;
  }

  .historia-texto p {
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1220px) {
  .historia-imagem img {
    height: 45vh;
  }

  .historia-texto p {
    font-size: 15px;
  }
}
